*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

:root{
    --green: hsl(75, 94%, 57%);
    --white: hsl(0, 0%, 100%);
    --grey-700: hsl(0, 0%, 20%);
    --grey-800: hsl(0, 0%, 12%);
    --grey-900: hsl(0, 0%, 8%);
}

@font-face {
    font-family: Inter;
    src: url(./assets/fonts/Inter-VariableFont_slnt\,wght.ttf) format('truetype-variations');
    font-weight: 100 900;;
}
html {
    display: flex;
    min-height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: var(--grey-900);
    font-family: Inter, sans-serif;
}

main{
    width: 300px;
    height: 500px;
    background-color: var(--grey-800);
    color: var(--white);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    gap: 16px;
}

main img{
    height: 72px;
    width: 72px;
    border-radius: 50%;    
}
main div{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

main div #name{
    font-size: 1.25rem;
    font-weight: 500;
}

main div #location{
    font-size: 0.65rem;
    color: var(--green);
}

main #description {
    font-size: 0.65rem;
    color: var(--white);
    font-weight: 200;
} 

main ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 10px;
}

main ul li{
    background-color: var(--grey-700);
    padding: 10px 60px;
    border-radius: 5px;
    text-align: center;
    font-size: 0.70rem;
    font-weight: 600;
}

main ul li:hover{
    color: var(--grey-900);
    background-color: var(--green);
    cursor: pointer;
}